.contUser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 280px;
    background-color: coral;
    padding: 10px;
    margin: 10px;
}

.name {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
}

.email {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
}

.foto {
    width: 260px;
    height: 260px;
    text-align: center;
    cursor: pointer;
}

.foto:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.btn {
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.but {
    background-color: red;
    width: 100px;
    padding: 7px;
    cursor: pointer;
}

.butBack {
    background-color: green;
}