.but {
    background: orange;
    border-radius: 8px;
    color: white;
    width: 140px;
    height: 60px;
    border: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.but2 {
    background: red;
    border-radius: 8px;
    color: white;
    width: 140px;
    height: 60px;
    border: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}