.main {
    margin: 0 auto 40px;
    text-align: center;
    max-width: 620px;
}

h1 {
    font-size: 60px;
}

.inputs {
    
}

.inputBlock {
    position: relative;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    color: gray;
    background-color: lightgrey;
    border: none;
    padding: 20px 40px;
    border-radius: 8px;
    box-sizing: border-box;
}

.phone, .wallet {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 20px;
    height: 20px;
}

.info {
	background-color: lightgrey;
	padding: 20px;
	border-radius: 7px;
	text-align: left;
}

.subTitleInfo {
    max-width: 470px;
}

.icons {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.card p {
    margin: 4px;
}

.imgBlock {
    background: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
}

.imgBlock:hover {
    cursor: pointer;
}

.imgBlock img {
    width: 40px;
    height: 40px;
}

.button {
    color: white;
    background: gray;
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 40px;
    font-size: 18px;
    cursor: default;
}

.active {
    background: black;
    cursor: pointer;
}

.iconClick {
    border: black solid 2px;
}