.cell {
    width: 25%px;
    height: 25%px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: burlywood;
}

.cellBack {
    border: 1px solid rgb(190, 14, 14);
    background-color: rgb(105, 108, 110);
}

.cell1 {
    grid-area: c1;
  }
  
  .cell2 {
    grid-area: c2; 
  }
  
  .cell3 {
      grid-area: c3; 
  }
  