* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blockWind {
    width: 100vw;
    height: 100vh;
    background-color: rgb(125, 199, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockContent {
    width: 80%;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    
}

.sum {
    color: red;
    font-size: 20px;
    margin: 15px;
}

