.block {
width: 700px;
background-color: cornsilk;
border: 3px solid red;
border-radius: 8px;
margin-bottom: 20px;
}
 
.image {
width: 700px;
height: 400px;
}

.text {
 margin: 10px auto;
 text-align: center;
}

.btn {
 display: flex;
 justify-content: center;
 width: 200px;
 height: 60px;
 border-radius: 4px;
 margin: 10px auto;
 padding: auto;
 align-items: center;
}