:root {
    --width-modal: 800px;
    --height-modal: 600px;
}

.main {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: var(--width-modal);
    height: var(--height-modal);
    display: flex;
}

.blockWhite {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 16px 0 0 16px;
    width: calc(var(--width-modal) / 2);
    height: 100%;
    background-color: white;
}

.bigText {
    font-size: 45px;
    margin-bottom: 15px;
    line-height: 50px;
    font-weight: 700;
}

.smollText {
    font-size: 20px;
    line-height: 30px;
}

.btn {
    background-color: black;
    color: white;
    border-radius: 8px;
    width: 170px;
    height: 50px;
    text-align: center;
    border: none;
    margin-top: 100px;
    font-size: 15px; 
}

.blockRed {
    border-radius: 0 16px 16px 0;
    background-color: rgb(194, 64, 64);
    position: relative;
    width: calc(var(--width-modal) / 2);
    height: 100%;
}

.btnСross {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(105, 6, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.images {
    position: absolute;
    left: 17px;
    top: 36px;
    width: calc(var(--width-modal) / 2);
}