.texts {
    font-size: 30px;
    display: flex;
    justify-content: center;
    background: coral;

}

.texts2 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    background: green;
    border-radius: 16px;
    border: 3px solid red;
}

.texts3 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    background: rgb(2, 19, 2);
    border-radius: 16px;
    color: white;
}
 .sizes {
    font-size: 10px;
 }

 .sizes12 {
     font-size: 12px;
 }

.sizes14 {
    font-size: 14px;
}