.btn {
    font-size: 60px;
    display: flex;
    justify-content: center;
    background: green;
    border-radius: 16px;
    border: 3px solid red;
}

.btn2 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    background: rgb(54, 10, 138);
    border-radius: none;
    border: 3px solid red;
    color: white;
}
.red {
    color: red;
}