.colorRed {
    background-color: red;
}

.colorBlue {
    background-color: rgb(89, 0, 255);
}

.border {
    border: 5px solid blue;
}

.shadow:hover {
    box-shadow: 0px 0px 5px 8px rgba(212, 7, 7, 0.2);
}