* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}


/* .app {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
} */

/* .text {
    display: flex;
    justify-content: center;
 }

 .sss {
    color: red;
 }

 span {
    color: red;
    font-size: 25px;
 }

 .homeBlock {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
 }

 .homeText {
    font-size: 23px;
    color: white;
    text-decoration: none;
    margin-right: 30px;
 }

 /* .title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
    margin-left: 40px;
 }

 .arts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }

 @media screen and (max-width: 596px) {
   .title {
      text-align: center;
      margin-left: 0;
   }
 } */

 .cont {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
    background-color: black;
 }

 .childs {
    font-size: 20px;
 }

 .links {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: cursive;
    font-weight: 700;
 }

 .links:hover {
   color: rgba(233, 162, 10, 0.938);
 }


 @media screen and (max-width: 700px) {
   .childs {
      text-align: center;
   }
 }