.card {
   border-radius: 8px;
   height: 200px;
   width: 250px;
   border: 1px solid lightgray;
   margin: 15px 20px;
   cursor: pointer;
}

.card:hover {
   transform: scale(1.1);
}

.text {
    margin-top: 10px;
    margin-left: 10px;
}

img {
    width: inherit;
    height: 150px;
    border-radius: 8px 8px 0 0;
}   
