.orange {
    width: 4px;
    height: 50px;
    background-color: orange;

}

.str {
    width: 300px;
    height: 50px;
    justify-content: space-between;
    display: flex;
    margin: 10px auto;
    border: 1px solid black;
    align-items: center;
    padding-right: 10px;
    background-color: white;
}

.image {
    
    height: 24px;
    right: 5px;
    top: 13px;
}

.image:hover {
    cursor: pointer;
    height: 34px;
    right: 0;
    top: 8px;
}
 
.text {
    color: gray;
    padding: 15px;
    text-align: left;
    font-size: 20px;
}