* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wind {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(248, 185, 238);
    position: relative;
}

.banner {
    display: flex;
    flex-direction: column;
    min-width: calc(100% - 400px);
    min-height: 200px;
    background-color: rgb(110, 231, 185);
    border-radius: 16px;
    padding: 40px;
    position: relative;
    overflow: hidden;
}

.title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.blockDate {
    display: flex;
    flex-direction: column;
}

.blockInputs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.text {
    font-size: 25px;
    margin-top: 20px;
}

.btnBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: rgb(223, 199, 199);
    border-radius: 8px;
    width: 170px;
    height: 50px;
    text-align: center;
    border: none;
    margin-top: 40px;
    font-size: 15px; 
    cursor: pointer;
    margin: 0 10px;
}

.finish {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    font-size: 25px;
    color: red;
}