.input {
    border: none;
    border-bottom: 1px solid black;
    margin-right: 15px;
    width: 100px;
}

.input:focus {
    border-bottom: 1px solid olivedrab;
}

.error {
    color: red;
    border-bottom: 1px solid red;
}

.error:focus {
    border-bottom: 1px solid red;
}