* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    padding: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 30px;
    background-color: rgb(202, 199, 195);
}